
    <!-- Liên kết tới JavaScript của Bootstrap 5 từ Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <!-- Include Header, Sidebar, and Content JavaScript files -->
    <script src="header.js"></script>
    <script src="sidebar.js"></script>
    <script src="content.js"></script>
</body>
</html>