<div class="row">
    <div class="col-md-8">
        <h1 class="mb-4">Tiêu đề Tin Tức</h1>
        <p class="text-muted">Tác giả: Người viết</p>
        <p class="text-muted">Ngày đăng: 01/01/2023</p>
        <img src="https://th.bing.com/th?id=ORMS.496d09fab5dfc36f87f0393b4f3f9ffa&pid=Wdp&w=612&h=304&qlt=90&c=1&rs=1&dpr=1&p=0" class="img-fluid mb-4" alt="Ảnh Tin Tức">
        <p class="lead">Nội dung tin tức:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer sit amet velit vitae lectus luctus dignissim. Cras fringilla, quam ut posuere rhoncus, lorem purus consectetur libero, nec bibendum lectus odio id risus.</p>
        <p>...</p>
    </div>
</div>