<h1 class="mb-4">Giới thiệu về chúng tôi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lorem sed ex fringilla, eu consequat urna condimentum. Sed facilisis libero id mi eleifend euismod. Nam consectetur, justo nec vulputate sollicitudin.</p>
        
        <h2 class="mt-4">Đội ngũ của chúng tôi</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="https://th.bing.com/th?id=ORMS.496d09fab5dfc36f87f0393b4f3f9ffa&pid=Wdp&w=612&h=304&qlt=90&c=1&rs=1&dpr=1&p=0" class="card-img-top" alt="Nhân viên 1">
                    <div class="card-body">
                        <h5 class="card-title">Nhân viên 1</h5>
                        <p class="card-text">Vị trí: Chức vụ 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="https://th.bing.com/th?id=ORMS.496d09fab5dfc36f87f0393b4f3f9ffa&pid=Wdp&w=612&h=304&qlt=90&c=1&rs=1&dpr=1&p=0" class="card-img-top" alt="Nhân viên 2">
                    <div class="card-body">
                        <h5 class="card-title">Nhân viên 2</h5>
                        <p class="card-text">Vị trí: Chức vụ 2</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="https://th.bing.com/th?id=ORMS.496d09fab5dfc36f87f0393b4f3f9ffa&pid=Wdp&w=612&h=304&qlt=90&c=1&rs=1&dpr=1&p=0" class="card-img-top" alt="Nhân viên 3">
                    <div class="card-body">
                        <h5 class="card-title">Nhân viên 3</h5>
                        <p class="card-text">Vị trí: Chức vụ 3</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="https://th.bing.com/th?id=ORMS.496d09fab5dfc36f87f0393b4f3f9ffa&pid=Wdp&w=612&h=304&qlt=90&c=1&rs=1&dpr=1&p=0" class="card-img-top" alt="Nhân viên 3">
                    <div class="card-body">
                        <h5 class="card-title">Nhân viên 4</h5>
                        <p class="card-text">Vị trí: Chức vụ 4</p>
                    </div>
                </div>
            </div>
            </div>
        </div>