<footer class="bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Về Chúng Tôi</h5>
                <p>Mô tả về trang web của bạn và doanh nghiệp của bạn.</p>
            </div>
            <div class="col-md-4">
                <h5>Liên hệ</h5>
                <ul class="list-unstyled">
                    <li>Địa chỉ: 123 Đường ABC, Thành phố XYZ</li>
                    <li>Email: contact@example.com</li>
                    <li>Điện thoại: (123) 456-7890</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Kết nối với chúng tôi</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>