<% const news = data.news; %>
<div class="container mt-5">
    <h1>Sửa Tin Tức</h1>
    <form action="/admin/updateNews" method="post">
        <input type="hidden" value="<%= news.id %>" name="idNews">
        <div class="mb-3">
            <label for="title" class="form-label">Tiêu đề</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= news.title %>">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Tác giả</label>
            <input type="text" class="form-control" id="author" name="author" value="<%= news.author %>" readonly placeholder="Nhập tác giả">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Nội dung</label>
            <textarea type="text" class="form-control" id="content" name="content" placeholder="Nhập nội dung"><%= news.content %></textarea>
        </div>
        <button type="submit" class="btn btn-success">Lưu</button>
    </form>
</div>