<div class="container mt-5">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Tổng số tin tức</h5>
                    <p class="card-text">100</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Số tin tức mới</h5>
                    <p class="card-text">20</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Số lượt xem hôm nay</h5>
                    <p class="card-text">500</p>
                </div>
            </div>
        </div>
    </div>
</div>